<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render( "~/Content/bootstrap.min.css", "~/Content/bootstrap-responsive.min.css", "~/Content/eStore.css","~/Content/popup.css", "~/Content/Catalogue.css", "~/Content/themes/base/css", "~/Content/eStoreCss")
    @Scripts.Render("~/bundles/modernizr", "~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/jqueryval", "~/Scripts/mvc1.js")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/modernizr", "~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/jqueryval", "~/Scripts/mvc1.js")
    @RenderSection("scripts", required: false)
   
     <div id="footer">
        <div id="copyright">
            <small>&copy; 2013 Info3067</small>
        </div>
    </div>

    <div class="navbar navbar-fixed-top">
        <div class="container-inner">
            <div class="container-fluid">
                <a class="brand" href="#">Info3067</a>
                <ul class="nav">
                    <li><a href="~/Home">Home</a></li>
                    <li><a href="~/Home/#register_popup">Register</a></li>
                    <li><a href="~/Home/#login_popup">Login</a></li>                    
                    <li><a href="~/Home/Logout">Logout</a></li>
                    <li><a href="~/Shop/Index">Shop</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li>@Session["LoginStatus"]</li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>
